<mat-tab-group>
     <mat-tab label="Theory">
        
        <br>
        <h1>Introduction</h1>
        <br>
        <p class="content">
            A roll crusher is a type of compression crusher used to reduce the size of materials by squeezing and fracturing them between two rotating cylindrical rolls. The rolls are equipped with teeth or crushing elements that exert pressure on the material to break it into smaller fragments. This experiment aims to investigate the crushing performance and efficiency of a roll crusher.<br>
        <h1>Operation</h1>
        <p class="content">
            The operation of a roll crusher involves the following steps:

        </p>
        <ul class="content">
            <li>
                Feed Material: The material to be crushed is fed into the gap between the rolls, typically through a hopper or chute. The material is evenly distributed across the width of the rolls to ensure efficient crushing.      </li>
            <li>
                Compression and Fracture: As the rolls rotate in opposite directions, the material is drawn into the crushing zone. The rolls exert compressive forces on the material, causing it to deform and fracture. The teeth or crushing elements on the rolls facilitate the breaking process.
            </li>
            <li>
                Product Discharge: The crushed material, known as the product, is discharged from the crusher through a gap between the rolls. The size of the product is determined by the distance between the rolls, the crushing forces applied, and the properties of the material.
            </li>
        </ul>

        <h1>Design Considerations</h1>
        <p class="content">
            When designing a roll crusher experiment, several factors need to be considered:       <ul class="content">
            <li>
                Roll Design: The size, diameter, and length of the rolls play a critical role in determining the crushing capacity and efficiency of the crusher. The rolls should be designed to ensure proper crushing action and minimize the generation of fines.

            </li>
            <li>
                Feed Material Properties: The properties of the feed material, such as hardness, moisture content, and particle size distribution, affect the performance of the roll crusher. Understanding these properties helps in selecting appropriate roll parameters and optimizing the crushing process.

            </li>
            <li>
                Roll Speed and Gap: The rotational speed of the rolls and the gap between them influence the crushing action and the size of the product. Adjusting the roll speed and gap allows for controlling the desired product size and maximizing the throughput.
            </li>
           

        </ul>
        <h1>
            Applications
        </h1>
        <p class="content">
            Roll crushers find applications in various industries, including:
 </p>
        <ul class="content">
            <li>
                Mining and Mineral Processing: Roll crushers are used for the primary and secondary crushing of minerals and ores, such as coal, limestone, and iron ore.

            </li>
            <li>
                Aggregate Production: They are used in the production of aggregates for construction purposes, such as crushed stone, gravel, and sand.
            </li>
            <li>
                Chemical Industry: Roll crushers are employed in chemical processing plants to reduce the size of chemicals and raw materials for further processing.
            </li>
            <li>
                Ceramics and Refractories: They are used in the processing of ceramic materials and refractory products, such as clay, shale, and firebrick.
            </li>
        </ul>
        <img class="rounded mx-auto d-block"
            src="../../assets/RollCrusher.png"
            style="width:fit-content;height:fit-content; z-index: -1;">
    
    </mat-tab> 
    <mat-tab label="Formulae">
        <div class="formulae" style="margin-top: 5%;font-size: large;letter-spacing: 2.5;">
            <div class="row">
                <div class="col">

                  </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Simulation">

        <div style="margin:2% 10%;">

            <form [formGroup]="ip">
                <div>
                    

                        <table class="table table-hover table-striped mat-elevation-z8">
                            <thead>
                                <tr>
                                    <th>Property</th>
                                    <th>Value</th>
                                    <th>Units</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Material to be crushed </td>
                                    <td>
                                        <select formControlName="Material">
                                            <option value="BallastStone">Ballast Stone</option>
                                        </select>
                                    </td>
                                    <td> </td>
                                </tr>
                                <tr>
                                    <td>Angle of Nip</td>
                                    <td>
                                        <input type="number" formControlName="NipAngle">
                                    </td>
                                    <td> &deg; </td>
                                </tr>
                                <tr>
                                    <td>Maximum allowable feed diameter </td>
                                    <td>
                                        <input type="number" formControlName="Dfmx">
                                    </td>
                                    <td> m </td>
                                </tr>
                                <tr>
                                    <td>Length between each roll</td>
                                    <td>
                                        <input type="number" formControlName="Lr">
                                    </td>
                                    <td> m </td>
                                </tr>
                                
                                <tr>
                                    <td>Speed of the roll</td>
                                    <td>
                                        <input type="number" formControlName="N">
                                    </td>
                                    <td> RPM </td>
                                </tr>
                                <tr>
                                    <td>Amount of feed to be loaded</td>
                                    <td>
                                        <input type="number" formControlName="Mfeed">
                                    </td>
                                    <td> m </td>
                                </tr>
                                <tr>
                                    <td>Crushing time</td>
                                    <td>
                                        <input type="number" formControlName="Crushtime">
                                    </td>
                                    <td> m </td>
                                </tr>
                                <tr>
                                    <td>Maximum allowable diameter of crushed material</td>
                                    <td>
                                        <input type="number" formControlName="DCmax">
                                    </td>
                                    <td> mm</td>
                                </tr>
                            </tbody>
                        </table>
                        <button class="btn btn-success" type="submit" [disabled]="!ip.valid"
                            (click)="onSubmit()">submit</button>
                        <div *ngIf="ip.invalid && ip.dirty" style="color: red">All fields are
                            required.</div>
                        <div *ngIf="ip.valid && !this.s.isCalculated" style="color: rgb(4, 255, 0)">Ready to calculate</div>
                  

                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>SI No </th>
                                <th>Mesh</th>
                                <th>Screen Opening - Dpi</th>
                                <th> Xf </th>
                                <th> Xf (cumulative) </th>
                                <th> Dsa </th>
                                <th>Product Diameter - Dsb</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let m of mesh; let i = index">
                                <td>{{i+1}}</td>
                                <td>{{m}}</td>
                                <td>{{Dpi[i]}}</td>

                                 <td>
                                    <input type="number" min="0" max="1" [formControl]="ip.controls.xf.controls[i]">
                                </td>
                                <td>{{getCumXF(i)}} </td>
                                <td>{{getDsa(i)}} </td>
                               <td>{{getDsb(i)}} </td>
                            
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </mat-tab>
    <mat-tab label="Result">

        <div *ngIf="isCalculated">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Property</th>
                        <th>Value</th>
                        <th>Units</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Angle of nip</td>

                        <td>{{this.s.NipAngle}}</td>
                        <td>&deg;C</td>
                    </tr>
                    <tr>
                        <td>Maximum allowable feed diameter</td>

                        <td>{{this.s.Dpmax}}</td>
                        <td>m</td>
                    </tr>
                    <tr>
                        <td>Diameter of each roll</td>

                        <td>{{this.s.Dr}}</td>
                        <td>m</td>
                    </tr>
<!--                    
                    <tr>
                        <td>Roll crusher capacity</td>

                        <td>0.349</td>
                        <td>tonnes/hr</td>
                    </tr> -->
                    <tr>
                        <td>Power required</td>

                        <td>{{this.s.P}}</td>
                        <td>W</td>
                    </tr>


                </tbody>
            </table>
        </div>
        <div *ngIf="!isCalculated">
            <div class="alert-warning" style="padding:20px">
                <h3>Cannot generate results</h3>
                <h6>Simulate to get results</h6>
            </div>
        </div>

    </mat-tab>
    <mat-tab label="Virtual Experiment">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Value</th>
                    <th>Units</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Maximum allowable feed diameter </td>
                    <td>
                        <input type="number" formControlName="Dfmx">
                    </td>
                    <td> m </td>
                </tr>
                <tr>
                    <td>Length between each roll</td>
                    <td>
                        <input type="number" formControlName="Lr">
                    </td>
                    <td> m </td>
                </tr>
                <tr>
                    <td>Length between each roll</td>
                    <td>
                        <input type="number" formControlName="Lr">
                    </td>
                    <td> m </td>
                </tr>
                
                <tr>
                    <td>Speed of the roll</td>
                    <td>
                        <input type="number" formControlName="N">
                    </td>
                    <td> RPM </td>
                </tr>
                <tr>
                    <td>Amount of feed to be loaded</td>
                    <td>
                        <input type="number" formControlName="Mfeed">
                    </td>
                    <td> m </td>
                </tr>
                <tr>
                    <td>Crushing time</td>
                    <td>
                        <input type="number" formControlName="Crushtime">
                    </td>
                    <td> m </td>
                </tr>
                <tr>
                    <td>Maximum allowable diameter of crushed material</td>
                    <td>
                        <input type="number" formControlName="DCmax">
                    </td>
                    <td> mm</td>
                </tr>
                <tr>
                    <td>Power required</td>

                    <td>{{this.s.P}}</td>
                    <td>W</td>
                </tr>
       
            </tbody>
        </table>
        <div class="image">


            <img class="rounded mx-auto d-block"
            src="../../assets/RollCrusher.png"
            style="width:fit-content;height: fit-content; z-index: -1;">
        </div>
    </mat-tab>
    <div class="position-fixed bottom-0 end-0">

        <a id="GoTO" href="#Theory"><button class="btn btn-goto" style="border-radius:100%;"><i class="bi bi-chevron-up"
                    style="color: rgba(233, 233, 233, 0.875);font-size: 20px;"></i></button></a>
    </div>
</mat-tab-group>

