<mat-tab-group>
    <mat-tab label="Theory">
        <br>
        <h1>Introduction</h1>
        <br>
        <p class="content">
            A rotary dryer is a widely used industrial dryer that utilizes heat and rotational motion to remove moisture from a variety of materials. The dryer consists of a cylindrical drum that rotates while the material is fed into it and exposed to heated air or gas. This experiment aims to study the drying characteristics of a given material using a rotary dryer. <br>
        <h1>Operation</h1>
        <p class="content">
            The operation of a rotary dryer involves the following steps:

        </p>
        <ul class="content">
            <li>
                Material Feeding: The wet material is fed into the rotating drum of the dryer through a feed chute. The material is spread evenly across the drum's surface to maximize exposure to the drying medium.
            </li>
            <li>
                Heat Transfer: As the drum rotates, heated air or gas is introduced into the dryer. The material comes into contact with the hot air, which transfers heat to the moisture within the material.
 </li>
            <li>
                Evaporation: The heat from the drying medium causes the moisture in the material to evaporate. The moisture-laden air or gas is exhausted from the dryer, while the dried material is carried along the drum's rotation.

            </li>
            <li>
                Material Discharge: The dried material is discharged from the drum through an outlet chute or conveyor, ready for further processing or use.
            </li>
        </ul>

        <h1>Design Considerations</h1>
        <p class="content">
            When designing a rotary dryer experiment, several factors need to be considered: <ul class="content">
            <li>
                Drum Design: The drum's diameter, length, and inclination angle play a crucial role in determining the drying characteristics. The dimensions should be chosen based on the material properties, desired drying rate, and throughput requirements.

            </li>
            <li>
                Drying Medium: The selection of the drying medium, such as hot air or gas, depends on the specific application and material being dried. The temperature and flow rate of the drying medium should be controlled to optimize the drying process.
            </li>
            <li>
                Material Properties: The properties of the material, including moisture content, particle size distribution, and thermal conductivity, affect the drying rate and efficiency. Understanding these properties helps in designing the drying process appropriately.

            </li>
            <li>
                Heat Source: The heat source for the rotary dryer can vary, including direct-fired burners, steam, or hot gases. The choice of heat source depends on factors such as energy availability, safety considerations, and the material being dried.

            </li>

        </ul>
        <h1>
            Applications
        </h1>
        <p class="content">
            Rotary dryers have a wide range of applications in various industries, including:
        </p>
        <ul class="content">
            <li>
                Food Processing: They are used for drying agricultural products, such as grains, fruits, and vegetables, to preserve and extend their shelf life.
            </li>
            <li>
                Chemical Industry: Rotary dryers are employed for drying various chemicals, pharmaceuticals, and fertilizers, ensuring proper moisture content for storage and subsequent processing.
            </li>
            <li>
                Mineral Processing: They are used in the drying of minerals, ores, and concentrates to remove moisture and prepare them for further processing or transportation.
 </li>
            <li>
                Biomass and Biofuel Production: Rotary dryers play a vital role in drying biomass materials and converting them into solid biofuels, such as pellets or briquettes.

        </ul>
        <img class="rounded mx-auto d-block"
            src="/assets/ScrEff.png"
            style="width:fit-content;height: fit-content; z-index: -1;">
    </mat-tab>
    <mat-tab label="Formulae" color="Accent">

        <div class="formulaeBar" style="margin: 5%;font-size: large;letter-spacing: 2.5;width:90%">
            
                    <h4 class="subheading" style="font-weight: 500;font-size: 25px;"> Overall energy balance :</h4>
                    <p class="formulae">
                        Q <sub>h</sub>C<sub>p</sub>(T<sub>Hin</sub> - T<sub>Hout</sub>) =m<sub>c</sub>
                        C<sub>p</sub>(T<sub>Cin</sub> - T<sub>Cout</sub>)
                        <br>

                        Q = UA ΔT<sub>LMTD</sub>
                    </p>s
                    <h4 style="font-weight: 500;font-size: 22px;"> Overall Heat Transfer Coefficient :</h4>
                    <p class="formulae"> 1/U = (1/H<sub>o</sub>) + (1/H<sub>od</sub>) +((d<sub>o</sub>/d<sub>i</sub>) X 1/H<sub>i</sub>)
                        +((d<sub>o</sub>/d<sub>i</sub>) X 1/H<sub>id</sub>)
                        + d<sub>o</sub>(ln(d<sub>o</sub>/d<sub>i</sub>))/2K<sub>w</sub>
                    <h4 class="subheading" style="font-weight: 500;color: rgba(52, 52, 52, 0.947);font-size: 18px;">Tube Side Heat Transfer Coefficient
                    </h4>
                    <p class="formulae">H<sub>i</sub> = J<sub>h</sub> N<sub>RE</sub> N<sub>Pr</sub><sup>0.33</sup>
                        (&mu;/&mu;w)<sup>0.14</sup>
                        (K<sub> f</sub>d<sub>i</sub>)

                    </p>
                    <h4 class="subheading" style="font-weight: 500;color: rgba(52, 52, 52, 0.972);font-size: 18px;">Shell Side Heat Transfer Coefficient
                    </h4>
                    <p class="formulae">H<sub>o</sub> = J<sub>f</sub> N<sub>RE</sub> N<sub>Pr</sub><sup>0.33</sup>
                        (&mu;/&mu;w)<sup>0.14</sup>
                        (K<sub> f</sub>d<sub>e</sub>)

                    </p>

    <div style="margin-top:5%">
        <h4 class="subheading" style="font-weight: 500;font-size: 25px;"> </h4>
                    <p class="formulae">
                        <b>Q<sub>h</sub></b> - Amount of Heat Transfer(Hot fluid side)<br>
                        <b>Q <sub>c</sub></b> - Amount of Heat Transfer(Cold fluid side)<br>
                        <b>T<sub>hin</sub></b> - Hot Fluid inlet temperature <br>
                        <b>T<sub>hout</sub></b> - Hot Fluid outlet temperature <br>
                        <b>T<sub>cin</sub></b> - Cold Fluid inlet temperature <br>
                        <b>T<sub>cout</sub></b> - Cold Fluid outlet temperature <br>
                        <b>ΔT<sub>LMTD</sub></b>- Log mean temperature difference<br>
                        <b>A</b> - Heat Transfer Area <br>
                        <b>U</b> - Overall Side Heat transfer Coefficient <br>
                        <b>H<sub>i</sub></b> - Tube Side Heat transfer Coefficient <br>
                        <b>H<sub>id</sub></b> - Tube side Heat Transfer(fouling)<br>
                        <b>H<sub>o</sub></b> - Shell Side Heat transfer Coefficient <br>
                        <b>H<sub>od</sub></b> - Sell side Heat Transfer(fouling)<br>
                        <b>N<sub>Re</sub></b> - Reynold's Number<br>
                        <b>N<sub>Pr</sub></b> - Prandtl's Number<br>
                    </p>
                </div>
                </div>

    </mat-tab>
    <mat-tab label="Simulation">
        <div style="margin:5% ;width:90%;overflow-x: autos;">
            <form [formGroup]="ip">

                <table class="table table-hover table-striped mat-elevation-z8">
                    <thead>
                        <tr><div style="margin:5px; font-size:large;"><b>From Psychrometric chart</b></div> </tr>
                        <tr>
                            <th>Property</th>
                            <th>Value</th>
                            <th>Units</th>
                        </tr>
                    </thead>
                    <tbody>
                      
                        <tr>
                            <td>Humidity</td>
                            <td>
                                <input type="number" formControlName="Humidity">
                            </td>
                            <td> m </td>
                        </tr>
                        <tr>
                            <td>Dry bulb temperature</td>
                            <td>
                                <input type="number" formControlName="Twb">
                            </td>
                            <td> m </td>
                        </tr>
                        <tr>
                            <td>Wet bulb temperature </td>
                            <td>
                                <input type="number" formControlName="Tdb">
                            </td>
                            <td> m </td>
                        </tr>
                    
               
                    </tbody>
                </table>
               </form>
        </div>

        <div style="margin:5% ;width:90%;overflow-x: autos;">
            <form [formGroup]="ip">

                <table class="table table-hover table-striped mat-elevation-z8">
                    <thead>
                        <tr>
                            <th>Property</th>
                            <th>Value</th>
                            <th>Units</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Amount of moisture to be dried (wet basis)</td>
                            <td>
                                <select formControlName="PercWBasis">
                                    <option value="3 % to 0.25 %">3 % to 0.25 %</option>
                                  
                                </select>
                            </td>
                            <td> % </td>
                        </tr>
                        <tr>
                            <td>assumed Massflux</td>
                            <td>
                                <input type="number" formControlName="Massflux">
                            </td>
                            <td> m </td>
                        </tr>
                       
                        <tr>
                            <td>Feed inlet Temperature</td>
                            <td>
                                <input type="number" formControlName="Tfi">
                            </td>
                            <td> &deg;C </td>
                        </tr>
                        <tr>
                            <td>Feed outlet Temperature</td>
                            <td>
                                <input type="number" formControlName="Tfo">
                            </td>
                            <td> &deg;C </td>
                        </tr>
                        <tr>
                            <td>Air inlet Temperature</td>
                            <td>
                                <input type="number" formControlName="Tfo">
                            </td>
                            <td> &deg;C </td>
                        </tr>
               
                    </tbody>
                </table>
                <button class="btn btn-success" type="submit" [disabled]="!ip.valid" (click)="onSubmit()">submit</button>
                <div *ngIf="ip.invalid && ip.dirty" style="color: red">All fields are
                    required.</div>
                <div *ngIf="ip.valid && !this.s.isCalculated" style="color: rgb(4, 255, 0)">Ready to calculate</div>
            </form>
        </div>
    </mat-tab>

    <mat-tab label="Result">
        <div *ngIf="s.isCalculated">
            <table class="table table-hover table-striped table-striped mat-elevation-z8">
                <thead>
                    <tr>
                        <th>Property</th>
                        <th>Value</th>
                        <th>Units</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> Weight of bone dried solid</td>

                        <td>{{this.s.ms}}</td>
                        <td>kg</td>
                    </tr>
                    <tr>
                        <td> initial moisture </td>

                        <td>{{this.s.w1}}</td>
                        <td>kg </td>
                    </tr>
                    <tr>
                        <td> final moisture </td>

                        <td>{{this.s.w2}}</td>
                        <td>kg </td>
                    </tr>
                    <tr>
                        <td> Air Outlet Temperature>

                        <td>{{this.s.TAo}}</td>
                        <td>&deg; C </td>
                    </tr>
                    <tr>
                        <td> Amount of water removed by the dryer</td>

                        <td>{{this.s.w1-this.s.w2}}</td>
                        <td>kg</td>
                    </tr>
                    <tr>
                        <td> Amount of Heat Transfer </td>

                        <td>{{this.s.qt}}</td>
                        <td>W</td>
                    </tr>
                    <tr>
                        <td>Amount of dry medium </td>

                        <td>{{this.s.DryingMedium}}</td>
                        <td>kg<sub>dry air</sub>/hr</td>
                    </tr>
                    <tr>
                        <td> Assumed mass flux</td>

                        <td>{{this.s.Gassumed}}</td>
                        <td> Kg/hr.m<sup>3</sup> </td>
                    </tr>
                    <tr>
                        <td> Area of Dryer (Pipe) </td>

                        <td>{{this.s.Adryer}}</td>
                        <td> m<sup>2</sup> </td>
                    </tr>
                    <tr>
                        <td> Diameter of the Dryer(Pipe) </td>

                        <td>{{this.s.Ddryer}}</td>
                        <td> m </td>
                    </tr>
                    <tr>
                        <td> Length of the pipe </td>

                        <td>{{this.s.L}}</td>
                        <td> m </td>
                    </tr>
                    <tr>
                        <td>L/D ratio</td>

                        <td>{{this.s.LbyDRatio}}</td>
                        <td> - </td>
                    </tr>
                   
                </tbody>
            </table>
        </div>
        <div *ngIf="!this.s.isCalculated">
            <div class="alert-warning" style="padding:20px;margin: 5% 20%;">
                <h1><i class="bi bi-exclamation-circle"></i>  Cannot generate results</h1>
                <h3>Simulate to get results</h3>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Virtual Experiment">
        <form [formGroup]="ip">
             <table mat-table class="table table-bordered table-striped mat-elevation-z8">
                <thead>
                    <tr>
                        <th>Property</th>
                        <th>Value</th>
                        <th>Units</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>assumed Massflux</td>
                        <td>
                            <input type="number" formControlName="Massflux">
                        </td>
                        <td> m </td>
                    </tr>
                   
                    <tr>
                        <td>Feed inlet Temperature</td>
                        <td>
                            <input type="number" formControlName="Tfi">
                        </td>
                        <td> &deg;C </td>
                    </tr>
                    <tr>
                        <td>Feed outlet Temperature</td>
                        <td>
                            <input type="number" formControlName="Tfo">
                        </td>
                        <td> &deg;C </td>
                    </tr>
                    <tr>
                        <td>Air inlet Temperature</td>
                        <td>
                            <input type="number" formControlName="Tfo">
                        </td>
                        <td> &deg;C </td>
                    </tr>
                    <tr>
                        <td> Diameter of the Dryer(Pipe) </td>

                        <td>{{this.s.Ddryer}}</td>
                        <td> m </td>
                    </tr>
                    <tr>
                        <td> Length of the pipe </td>

                        <td>{{this.s.L}}</td>
                        <td> m </td>
                    </tr>
                    <tr>
                        <td>L/D ratio</td>

                        <td>{{this.s.LbyDRatio}}</td>
                        <td> - </td>
                    </tr>
                </tbody>
            </table> 
            <button class="btn btn-success" type="submit" [disabled]="!ip.valid" (click)="onSubmit()">submit</button>
            <div *ngIf="ip.invalid && ip.dirty" style="color: red">All fields are
                required.</div>
            <div *ngIf="ip.valid && !this.s.isCalculated" style="color: rgb(4, 255, 0)">Ready to calculate</div>
        </form>
        <div class="image">
            <div class="Tco" style="position:absolute;top:5;left:3">{{this.s.Tco}}</div>
            <div class="Tho">{{this.s.Tho}}</div>

            <img class="rounded mx-auto d-block"
                src="/assets/Rotary.png"
                style="width:fit-content;height: fit-content;">
        </div>

        <div *ngIf="logs.length==0">
            <h2>No Data To display !</h2>
        </div>
        <div *ngIf="logs.length!=0">
            <h2 style="text-align:center;"><i class="bi bi-card-list"></i> Logs </h2>
            <table mat-table class="table table-bordered " style="margin:10px">
                <thead>
                    <tr>
                        <th>Mass Flowrate -methanol</th>
                        <th>Mass Flowrate -water</th>
                        <th>Hot Fluid inlet Temperature </th>
                        <th>Cold Fluid inlet Temperature </th>
                        <th>Hot Fluid outlet Temperature </th>
                        <th>Cold Fluid outlet Temperature </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let i of logs">
                        <td>
                            {{i['Mh']}}
                        </td>
                        <td>
                            {{i['Mc']}}
                        </td>
                        <td>
                            {{i['Thi']}}
                        </td>
                        <td>
                            {{i['Tci']}}
                        </td>
                        <td>
                            {{i['Tho']}}
                        </td>
                        <td>
                            {{i['Tco']}}
                        </td>
                    </tr>
                </tbody>
            </table>


        </div>
    </mat-tab>
</mat-tab-group>
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel">Error</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div *ngIf=""></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>