<mat-tab-group>
    <mat-tab label="Theory">
        <br>
        <h2>Objective</h2>
        <p class="Theory"> To determine the overall Heat transfer coefficient of the given Shell and tube Heat
            Exchanger </p><br>
        <h2>Theory </h2>
        <p class="Theory">

            A shell and tube heat exchanger is a type of heat exchanging device constructed using a
            large cylindrical enclosure, or shell,
            that has bundles of perfectly spaced tubing compacted in its interior.
            Heat exchanging is the transfer of heat from one substance or medium to a similar
            substance
            or medium. Shell and tube heat exchangers
            are the most common form of heat exchanger design.
            It is used in desulphurisation process in petroleum industry
            <br>
            <br>
            <br>
            <img class="rounded mx-auto d-block"
                src="https://www.researchgate.net/publication/50384285/figure/fig1/AS:650799378100225@1532174071339/Experimental-Setup-of-Heat-Exchanger.png"
                style="width:fit-content;height: fit-content;">
        </p>

    </mat-tab>
    <mat-tab label="Formulae" color="Accent">

        <div class="formulae" style="margin-top: 5%;font-size: large;letter-spacing: 2.5;">
            <div class="row">
                <div class="col-8">
                    <h4 style="font-weight: 600;"> Overall energy balance :</h4>
                    <p>
                        Q <sub>h</sub>C<sub>p</sub>(T<sub>Hin</sub> - T<sub>Hout</sub>) =m<sub>c</sub>
                        C<sub>p</sub>(T<sub>Cin</sub> - T<sub>Cout</sub>)
                        <br>

                        Q = UA ΔT<sub>LMTD</sub>
                    </p>
                    <h4 style="font-weight: 600;"> Overall Heat Transfer Coefficient :</h4>
                    <p> 1/U = (1/H<sub>o</sub>) + (1/H<sub>od</sub>) +((d<sub>o</sub>/d<sub>i</sub>) X 1/H<sub>i</sub>)
                        +((d<sub>o</sub>/d<sub>i</sub>) X 1/H<sub>id</sub>)
                        + d<sub>o</sub>(ln(d<sub>o</sub>/d<sub>i</sub>))/2K<sub>w</sub>
                    <h5 style="font-weight: 600;color: rgba(52, 52, 52, 0.855);">Tube Side Heat Transfer Coefficient
                    </h5>
                    <p>H<sub>i</sub> = J<sub>h</sub> N<sub>RE</sub> N<sub>Pr</sub><sup>0.33</sup>
                        (&mu;/&mu;w)<sup>0.14</sup>
                        (K<sub> f</sub>d<sub>i</sub>)

                    </p>
                    <h5 style="font-weight: 600;color: rgba(52, 52, 52, 0.856);">Shell Side Heat Transfer Coefficient
                    </h5>
                    <p>H<sub>o</sub> = J<sub>f</sub> N<sub>RE</sub> N<sub>Pr</sub><sup>0.33</sup>
                        (&mu;/&mu;w)<sup>0.14</sup>
                        (K<sub> f</sub>d<sub>e</sub>)

                    </p>

                </div>
                <div class="col-4">
                    <p>
                        <b>Q<sub>h</sub></b> - Amount of Heat Transfer(Hot fluid side)<br>
                        <b>Q <sub>c</sub></b> - Amount of Heat Transfer(Cold fluid side)<br>
                        <b>T<sub>hin</sub></b> - Hot Fluid inlet temperature <br>
                        <b>T<sub>hout</sub></b> - Hot Fluid outlet temperature <br>
                        <b>T<sub>cin</sub></b> - Cold Fluid inlet temperature <br>
                        <b>T<sub>cout</sub></b> - Cold Fluid outlet temperature <br>
                        <b>ΔT<sub>LMTD</sub></b>- Log mean temperature difference<br>
                        <b>A</b> - Heat Transfer Area <br>
                        <b>U</b> - Overall Side Heat transfer Coefficient <br>
                        <b>H<sub>i</sub></b> - Tube Side Heat transfer Coefficient <br>
                        <b>H<sub>id</sub></b> - Tube side Heat Transfer(fouling)<br>
                        <b>H<sub>o</sub></b> - Shell Side Heat transfer Coefficient <br>
                        <b>H<sub>od</sub></b> - Sell side Heat Transfer(fouling)<br>
                        <b>N<sub>Re</sub></b> - Reynold's Number<br>
                        <b>N<sub>Pr</sub></b> - Prandtl's Number<br>
                    </p>
                </div>
            </div>
        </div>


    </mat-tab>
    <mat-tab label="Simulation">


        <div style="margin:5% 20%;">
            <form [formGroup]="ip">

                <table class="table table-hover table-striped mat-elevation-z8">
                    <thead>
                        <tr>
                            <th>Property</th>
                            <th>Value</th>
                            <th>Units</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Assumed HT Coefficient U</td>
                            <td>
                                <select formControlName="HeatTransferCoeffAssumed">
                                    <option value="300">300</option>
                                    <option value="400">400</option>
                                    <option value="500">500</option>
                                    <option value="600">600</option>
                                </select>
                            </td>
                            <td> W/m<sup>2</sup>&deg;C </td>
                        </tr>
                        <!-- <tr>
    
                            <td>Cold fluid Outlet temperature</td>
                            <td><input type="number" formControlName="Tco"></td>
                            <td>&deg;C</td>
                        </tr> -->

                        <tr>
                            <td>Tube's Outside diameter</td>
                            <td>
                                <input type="number" formControlName="TubeDiaO">
                            </td>
                            <td> m </td>
                        </tr>
                        <tr>
                            <td>Tube's Inside diameter</td>
                            <td>
                                <input type="number" formControlName="TubeDiaI">
                            </td>
                            <td> m </td>
                        </tr>
                        <tr>
                            <td>Tube's Length</td>
                            <td>
                                <input type="number" formControlName="L">
                            </td>
                            <td> m </td>
                        </tr>
                        <tr>

                            <td>Shell side Fluid</td>
                            <td>
                                <select formControlName="ShellFluid">
                                    <option value="Methanol">Methanol</option>
                                    <option value="Water">Water</option>
                                </select>
                            </td>
                            <td> NA </td>
                        </tr>
                        <tr>
                            <td> Mass Flowrate (Methanol)</td>
                            <td><input type="number" formControlName="OilFlowRate"></td>
                            <td>
                                <select formControlName="OilFRUnit">
                                    <option value="Kg/sec">Kg/sec</option>
                                    <option value="Kg/hr">Kg/Hrs</option>
                                    <option value="Kg/min">Kg/min</option>
                                    <option value="l/hr" disabled>l/hr</option>
                                    <option value="l/min" disabled>l/hr</option>
                                    <option value="l/sec" disabled>l/hr</option>
                                </select>
                            </td>
                        </tr>
    
                        <tr>
                            <td>Mass Flowrate (Water)</td>
    
                            <td><input type="number" formControlName="Waterflowrate"></td>
                            <td> <select formControlName="WaterFRUnit">
                                    <option value="Kg/sec">Kg/sec</option>
                                    <option value="Kg/hr">Kg/hr</option>
                                    <option value="Kg/min">Kg/min</option>
                                    <option value="l/hr" disabled>l/hr</option>
                                    <option value="l/min" disabled>l/hr</option>
                                    <option value="l/sec" disabled>l/hr</option>
                                </select></td>
                        </tr>
    
                        <tr>
                            <td>HotFluid Inlet temperature</td>
                            <td><input type="number" formControlName="Thi"></td>
                            <td>&deg;C</td>
                        </tr>
                        <tr>
                            <td>Cold fluid inlet temperature</td>
    
                            <td><input type="number" formControlName="Tci"></td>
                            <td>&deg;C</td>
                        </tr>
                       <tr>
                            <td>Number of Passes</td>
                            <td><input type="number" formControlName="Passes"></td>
                            <td> NA </td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-success" type="submit" [disabled]="!ip.valid" (click)="onSubmit()">submit</button>
                <div *ngIf="ip.invalid && ip.dirty" style="color: red">All fields are
                    required.</div>
                <div *ngIf="ip.valid && !this.s.isCalculated" style="color: rgb(4, 255, 0)">Ready to calculate</div>
            </form>
        </div>
    </mat-tab>

    <mat-tab label="Result">
        <div *ngIf="s.isCalculated">
            <table class="table table-hover table-striped table-striped mat-elevation-z8">
                <thead>
                    <tr>
                        <th>Property</th>
                        <th>Value</th>
                        <th>Units</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> LMTD </td>

                        <td>{{this.s.lmtd}}</td>
                        <td>&deg;C </td>
                    </tr>
                    <tr>
                        <td> Heat Duty Q (shell) </td>

                        <td>{{this.s.QShellSide}}</td>
                        <td>W</td>
                    </tr>
                    <tr>
                        <td> Heat Transfer Area (Shell)</td>

                        <td>{{this.s.HtArea}}</td>
                        <td>m<sup>2</sup></td>
                    </tr>
                    <tr>
                        <td> Number of Tubes </td>

                        <td>{{this.s.Tubes}}</td>
                        <td> NA </td>
                    </tr>
                    <tr>
                        <td> Bundle Diameter </td>

                        <td>{{this.s.BundleDia}}</td>
                        <td> m </td>
                    </tr>
                    <tr>
                        <td> Shell Diameter </td>

                        <td>{{this.s.ShellDia}}</td>
                        <td> m </td>
                    </tr>
                    <tr>
                        <td> Tubes Per Pass </td>

                        <td>{{this.s.TubesPerPass}}</td>
                        <td> m </td>
                    </tr>
                    <tr>
                        <td>Total Flow area(Tubes)</td>

                        <td>{{this.s.FlowAreaOfTubes}}</td>
                        <td> m<sup>2</sup> </td>
                    </tr>
                    <tr>
                        <td>Velocity(Tube side fluid)</td>

                        <td>{{this.s.VelocityTubeSide}}</td>
                        <td> m/s </td>
                    </tr>
                    <tr>
                        <td>Baffle Spacing</td>

                        <td>{{this.s.BaffleSpace}}</td>
                        <td> m </td>
                    </tr>
                    <tr>
                        <td>Velocity(Shell side fluid)</td>

                        <td>{{this.s.VelocityShellSide}}</td>
                        <td> m/s </td>
                    </tr>
                    <tr>
                        <td>Shell Side HeatTransfer Coefficient</td>

                        <td>{{this.s.HtubeSide}}</td>
                        <td>W/m<sup>2</sup>&deg;C </td>
                    </tr>
                    <tr>
                        <td>Tube Side HeatTransfer Coefficient</td>

                        <td>{{this.s.HShellSide}}</td>
                        <td> W/m<sup>2</sup>&deg;C </td>
                    </tr>
                    <tr>
                        <td>Overall HeatTransfer Coefficient</td>

                        <td>{{this.s.OverallHTCoeff}}</td>
                        <td> W/m<sup>2</sup>&deg;C </td>
                    </tr>
                    <tr>
                        <td>Tube side Pressure Drop</td>

                        <td>{{this.s.PDropTs}}</td>
                        <td>Psi</td>
                    </tr>
                    <tr>
                        <td>Shell side Pressure Drop</td>

                        <td>{{this.s.PDropSs}}</td>
                        <td>Psi</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="!this.s.isCalculated">
            <div class="alert-warning" style="padding:20px">
                <h3>Cannot generate results</h3>
                <h6>Simulate to get results</h6>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Virtual Experiment">
        <form [formGroup]="ip">
            <table mat-table class="table table-bordered table-striped mat-elevation-z8">
                <thead>
                    <tr>
                        <th>Property</th>
                        <th>Value</th>
                        <th>Units</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> Mass Flowrate (Methanol)</td>
                        <td><input type="number" formControlName="OilFlowRate"></td>
                        <td>
                            <select formControlName="OilFRUnit">
                                <option value="Kg/sec">Kg/sec</option>
                                <option value="Kg/hr">Kg/Hrs</option>
                                <option value="Kg/min">Kg/min</option>
                                <option value="l/hr" disabled>l/hr</option>
                                <option value="l/min" disabled>l/hr</option>
                                <option value="l/sec" disabled>l/hr</option>
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td>Mass Flowrate (Water)</td>

                        <td><input type="number" formControlName="Waterflowrate"></td>
                        <td> <select formControlName="WaterFRUnit">
                                <option value="Kg/sec">Kg/sec</option>
                                <option value="Kg/hr">Kg/hr</option>
                                <option value="Kg/min">Kg/min</option>
                                <option value="l/hr" disabled>l/hr</option>
                                <option value="l/min" disabled>l/hr</option>
                                <option value="l/sec" disabled>l/hr</option>
                            </select></td>
                    </tr>

                    <tr>
                        <td>HotFluid Inlet temperature</td>
                        <td><input type="number" formControlName="Thi"></td>
                        <td>&deg;C</td>
                    </tr>
                    <tr>
                        <td>Cold fluid inlet temperature</td>

                        <td><input type="number" formControlName="Tci"></td>
                        <td>&deg;C</td>
                    </tr>
                    <tr>
                        <td> Obtained Overall Heat Temperature Coefficient - U</td>

                        <td>{{this.s.OverallHTCoeff}}</td>
                        <td>W/m<sup>2</sup> &deg;C</td>
                    </tr>

                    <tr>
                        <td> Obtained Heat Duty - Q</td>

                        <td>{{this.s.QFound/1000}}</td>
                        <td>KW</td>
                    </tr>
                    <tr>
                        <td> Hot Fluid Outlet temperature - THo</td>

                        <td>{{this.s.Tho}}</td>
                        <td> &deg;C</td>
                    </tr>
                    <tr>
                        <td> Cold Fluid Outlet temperature - TCo</td>

                        <td>{{this.s.Tco}}</td>
                        <td> &deg;C</td>
                    </tr>

                </tbody>
            </table>
            <button class="btn btn-success" type="submit" [disabled]="!ip.valid" (click)="onSubmit()">submit</button>
            <div *ngIf="ip.invalid && ip.dirty" style="color: red">All fields are
                required.</div>
            <div *ngIf="ip.valid && !this.s.isCalculated" style="color: rgb(4, 255, 0)">Ready to calculate</div>
        </form>
        <div class="image">
            <div class="Tco" style="position:absolute;top:5;left:3">{{this.s.Tco}}</div>
            <div class="Tho">{{this.s.Tho}}</div>

            <img class="rounded mx-auto d-block"
                src="https://www.researchgate.net/publication/50384285/figure/fig1/AS:650799378100225@1532174071339/Experimental-Setup-of-Heat-Exchanger.png"
                alt="Shell And TUbe Heat Exchanger" style="height:30%;width:30%">
        </div>

        <div *ngIf="logs.length==0">
            <h2>No Data To display !</h2>
        </div>
        <div *ngIf="logs.length!=0">
            <h2 style="text-align:center;"><i class="bi bi-card-list"></i> Logs </h2>
            <table mat-table class="table table-bordered " style="margin:10px">
                <thead>
                    <tr>
                        <th>Mass Flowrate -methanol</th>
                        <th>Mass Flowrate -water</th>
                        <th>Hot Fluid inlet Temperature </th>
                        <th>Cold Fluid inlet Temperature </th>
                        <th>Hot Fluid outlet Temperature </th>
                        <th>Cold Fluid outlet Temperature </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let i of logs">
                        <td>
                            {{i['Mh']}}
                        </td>
                        <td>
                            {{i['Mc']}}
                        </td>
                        <td>
                            {{i['Thi']}}
                        </td>
                        <td>
                            {{i['Tci']}}
                        </td>
                        <td>
                            {{i['Tho']}}
                        </td>
                        <td>
                            {{i['Tco']}}
                        </td>
                    </tr>
                </tbody>
            </table>


        </div>
    </mat-tab>
</mat-tab-group>
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel">Error</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div *ngIf=""></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>