<div class="Top" style="position:sticky;top: 0; box-shadow: 1px 1px 5px;z-index: 100;width:100%">
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
            data-bs-toggle="offcanvas" data-bs-target="#Labs" aria-controls="offcanvasWithBackdrop">
            <mat-icon>menu</mat-icon>
        </button>
        <div class="heading"><span class="heading"> Virtual Process Equipments</span></div>
        <span class="example-spacer" style=" flex: 1 1 auto;"></span>
        <button class="homeBtn" mat-button  [routerLink]="['/Home']" (click)="isHomeOn=true">
           <span class="homeText">Home</span> 
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
        </button>
    </mat-toolbar>

</div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="Labs" aria-labelledby="offcanvasWithBackdropLabel">
    <div class="offcanvas-header">
        <h2 class="offcanvas-title" id="offcanvasWithBackdropLabel" style="font-weight: 400;letter-spacing: 2;">Menu</h2>

        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <li *ngFor="let sub of subjects">
            <mat-accordion class="example-headers-align" multi>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{sub}}
                        </mat-panel-title>

                    </mat-expansion-panel-header>
                    <div *ngIf="sub=='Heat Transfer'">
        <li *ngFor="let s of Ht">
            <button mat-raised-button class="btn btn-lab" (click)="selectedP(sub,s)" style="padding:10px">{{s}}</button>
        </li>
    </div>
    <div *ngIf="sub=='Mass Transfer'">
        <li *ngFor="let s of Mt">
            <button mat-raised-button class="btn btn-lab" (click)="selected(sub)" style="padding:10px">{{s}}</button>
        </li>
    </div>
    <div *ngIf="sub=='Mechanical operation'">
        <li *ngFor="let s of Mo">
            <button mat-raised-button class="btn btn-lab" (click)="selected(sub)" style="padding:10px">{{s}}</button>
        </li>
    </div>
    <div *ngIf="sub=='Chemical Reaction Engineering'">
        <li *ngFor="let s of Cre">
            <button mat-raised-button class="btn btn-lab" (click)="selected(sub)" style="padding:10px">{{s}}</button>
        </li>
    </div>
    <div *ngIf="sub=='Fluid Mechanics'">
        <li *ngFor="let s of Fm">
            <button mat-raised-button class="btn btn-lab" (click)="selected(sub)" style="padding:10px">{{s}}</button>
        </li>
    </div>
    </mat-expansion-panel>
    </mat-accordion>
    </li>

</div>
</div>
<router-outlet></router-outlet>
  <div *ngIf="isFmOn">
  
</div>
<div *ngIf="isCREOn">
    <app-chemical-rection-engineering></app-chemical-rection-engineering>
</div>

<div class="container-fluid" *ngIf="isHomeOn"
    style="margin:5%;padding: 2%;width: 90%;  display: grid;align-items: center;
    justify-content: center;">
    <div class="row">

        <div class="col"><button mat-raised-button class="btn btn-Sub" (click)="isFmOn=true"
            [routerLink]="['/Home','FluidMechanics','AnnulusPipes']">Fluid
                Mechanics</button></div>
        <div class="col"><button mat-raised-button class="btn btn-Sub" (click)="isHtOn=true"
                [routerLink]="['/Home','HeatTransfer','ShellAndTubeHeatExchanger']">Heat Transfer</button></div>
        <div class="col"><button mat-raised-button class="btn btn-Sub" (click)="isMtOn=true"
            [routerLink]="['/Home','MassTransfer','RotaryDryer']">Mass
                Transfer</button></div>
    </div>
    <div class="row">
        <div class="col"><button mat-raised-button class="btn btn-Sub" (click)="isMoOn=true"
            [routerLink]="['/Home','MechanicalOperations','CycloneSeparator']"  >Mechanical Operations </button>
        </div>
        <div class="col"><button mat-flat-button color="primary" class="btn btn-Static"
                style="text-align: center;font-size: large;">Process
                Equipments </button></div>
        <div class="col"><button mat-raised-button class="btn btn-Sub" (click)="isCREOn=true"
                routerLink="ChemicalReactionEngineering">Chemical Reaction
                Engineering</button></div>

    </div>
    <div class="container-fluid" style="margin:50px 0">
        <h1>About the Page</h1>
       <div style="line-height: 2"> <p>  

            Virtual processes in chemical engineering can be used to perform a variety of calculations and
            simulations
            to
            model the behaviour of chemical processes and systems.
            For example, users can perform calculations related to reaction kinetics,
            thermodynamics, and mass and energy balances to gain insights into the behaviour of chemical reactions
            and
            processes. They can also simulate transport phenomena such as diffusion, convection, and heat transfer
            to
            understand the movement of materials and heat in a system.
            Additionally, virtual process equipments can be used to model the behaviour of chemical processes under
            different conditions, such as variations in temperature, pressure, and composition, allowing users to
            gain a
            deeper understanding of how these factors affect the performance
            of a chemical system. By providing a flexible and interactive platform for these types of calculations
            and
            simulations, virtual process equipments can help to advance the field of chemical engineering and
            provide
            valuable insights into the behaviour of chemical systems.
        </p>
    </div>
    </div>
   
</div>
